@font-face {font-family: "iconfont";
  src: url('../font/iconfont.ttf'),
  url('../font/iconfont.ttf') format('truetype')
}

.iconfont {
  font-family:"iconfont" !important;
  /*-webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;*/
  font-weight: 300;
}
.icon-browser:before { content: "\e64f"; }

.fullS {
    font-size: 400px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mybowser {
    font-size: 330px;
    padding-top: -160px;
}

.jt-red {
    color: #FF6666;
}

.jt-blue {
    color: #0066CC;
}

.jt-yellow {
    color: #FFCC33;
}

.jt-green {
    color: #00CC00;
}

.jt-blue {
    color: #0066CC;
}

.jt-blue {
    color: #0066CC;
}